.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 400px;
  background-color: #1e1e1e;
  padding: 2rem;
  border-radius: 8px;
}

.title {
  text-align: center;
  color: #bb86fc;
  margin-bottom: 1rem;
}